<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>CouchMap</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Guillermo de la Puente">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="/css/couchmap.css">

	<base href="/">
</head>
<body ng-app="Todo">
	<%- body %>
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.8/angular.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
	<script src="/js/couchmap.js"></script>
</body>
</html>