<div ng-controller="MapCtrl" ng-click="canvasClick($event)">
	<div class="container">
		<div class="row">
		</div>
	</div>


	<button id='open-popup' class='ui-control'>open popup</button>
	<div id="map"></div>


	<div id="map-loader">
		<div class="loader-inner">
			Loading
		</div>
	</div>

	<div id="username-modal" class="couchmap-modal">
		<div class='couchmap-modal-content'>
			<input type='text' name='username' placeholder='Couchsufing username' ng-keyup="newMap($event)" ng-model="new_map_username"/>
			<p><a href='https://www.couchsurfing.org'>What is Couchsurfing?</a></p>
		</div>
	</div>

	<header>
		<div class='nav'>
			<ul>
				<li class='nav-username'"><a href='https://www.couchsurfing.org/people/{{username}}'><span>{{username}}'s profile</span></a></li>
				<li class='nav-new'><span>New map</span></li>
			</ul>
		<div>
	</header>


	<div id="templates">
		<div id="templateMarker">
			<div class="marker">
				<%// marker pictures populate inside pic-holder %>
				<div class='pic-holder'>
				</div>
				<%// marker content populates here %>
			</div>
			<div class='pin'>
			</div>
		</div>

		<div id="templateMarkerContent">
			<p class='popup-location'></p>
		</div>
		<div id="templateMarkerContentRow">
			<div class='popup-content-row'>
				<a>
					<div class='profile-pic'></div>
					<div class='text'>
						<p class='name'></p>
					</div>
				</a>
			</div>
		</div>
	</div>

</div>
	<script>
		user = <%- user %>;
	</script>