<div class="container">
	<div class="row">
	</div>
</div>
<div id="map"></div>

<div id="templates">
	<div id="templateMarker">
		<div class="marker">
			<div class='pic-holder'>
			</div>
		</div>
	</div>
</div>

<script>
	user = <%- user %>;
</script>